<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Blogger</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="<%= root_path %>">Home</a>
        </li>

        <% if user_signed_in? %>
        <li>
          <a href="<%= user_path(current_user) %>">Profile</a>
        </li>

        <li>
          <a href="<%= posts_path %>">Posts</a>
        </li>
        <% else %>
        <li>
          <a href="<%= root_path %>">Posts</a>
        </li>
        <% end %>

        <% if user_signed_in? %>
        <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </li>
        <% else %>
        <li>
          <%= link_to raw('<span class="fa fa-sign-in" aria-hidden="true"></span> Sign In'), new_user_session_path %>
        </li>
        <li>
          <%= link_to raw('<span class="fa fa-user" aria-hidden="true"></span> Sign Up'), new_user_registration_path %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<header class="intro-header" style="background-image: url('/assets/hd_laptop_backgrounds.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Keep blogging</h1>
        </div>
      </div>
    </div>
  </div>
</header>